*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    max-width: 1600px;
}
/* Navbar  Section*/
header{
    width: 100%;
    max-width: 1600px;
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.logo a{
    cursor: pointer;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.menu ul li a:hover{
    color: #FFFFFF;
    background-color: black;
}

.btn-header{
    background-color: #1fc464;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-header:hover{
    background-color: #003617;
}
/* Banner Section */
#banner{
    background: url(../image/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1600px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-container{
    max-width: 1360px;
    padding: 115px 120px 180px;
}
.badge-early{
    max-width: 229px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #1fc464;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: #2cbe69;
    border-radius: 50%;
}
.banner-container h1{
    font-size: 60px;
    font-weight: 900;
    color: white;
    margin-bottom: 16px;
}
.banner-container h1 span{
    color: #2cbe69;
}
.banner-container p{
    font-size: 22px;
    line-height: 30px;
    color: white;
    margin-bottom: 35px;
}
.banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.btn-first{
    background-color: #1fc464;
    color: white;
    padding: 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-first:hover{
    background-color: #003617;
}
.btn-second{
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 16px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-second:hover{
    color: black;
}

/* Note section*/
#note{
    width: 100%;
    max-width: 1600px;
}
.note-container{
    max-width: 1360px;
    margin: 0 120px;
}
.note-heading{
    text-align: center;
    margin-bottom: 45px;
    padding-top: 36px;
}
.note-heading h2{
    font-size: 48px;
    font-weight: 900;
    color: black;
    margin-bottom: 10px;
}
.note-heading p{
    font-size: 16px;
    line-height: 20px;
    color: #5e6c79;
}
.note-cards{
    max-width: 1360px;
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card{
    max-width: 322px;
    background-color: white;
    border-radius: 5px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.icon{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #cc4f4f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h3{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-top: 16px;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #576c7c;
    margin-top: 16px;
}
/* Second Brain */
#second-brain{
    width: 100%;
    max-width: 1600px;
}
.brain-container{
    max-width: 1360px;
    margin: 120px;
    display: flex;
}
.brain-picture img{
    width: 600px;
    height: 600px;
}
.brain-content{
    max-width: 700px;
    padding: 60px 40px;
}
.brain-top{
    font-size: 14px;
    font-weight: 500;
    color: #1fc464;
    margin-bottom: 15px;
}
.brain-content h1{
    font-size: 45px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.brain-description{
    font-size: 16px;
    color: #576c7c;
    line-height: 20px;
    margin-bottom: 25px;
}
.brain-features{
    list-style: none;
}
.brain-features li{
    font-size: 16px;
    margin-bottom: 15px;
}

/* Early Access*/

#early-access{
    width: 100%;
    max-width: 1600px;
    background-color: #FFFFFF;
}
.early-container{
    max-width: 1360px;
    background-color: #f7f6f2;
    margin: 0 120px 60px;
    text-align: center;
}
.early-container h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.early-container p{
    font-size: 16px;
    line-height: 24px;
    color: #576c7c;
    margin-bottom: 40px;
}
.early-container button{
    display: flex;
    align-items: center;
    background-color: #1fc464;
    color: #FFFFFF;
    gap: 8px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin: 0 auto 20px;
    cursor: pointer;
}
.early-container button span{
    font-size: 18px;
}
.early-container button:hover{
    background-color: #003617;
}
.note{
    font-size: 16px;
    line-height: 20px;
}

/* Footer*/

#footer{
    width: 100%;
    max-width: 1600px;
    background-color: black;
    color: white;
}
.footer-container{
    margin: 0 auto;
    padding: 40px 60px 20px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img{
    width: 139px;
    height: auto;
}
.footer-social{
    text-align: right;
}
.footer-social h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.social-icon{
    display: flex;
    gap: 14px;
    justify-content: flex-end;
}
.social-icon a i{
    width: 25px;
    height: 25px;
}
.footer-divider{
    margin: 30px 0 20px;
    background-color: #5e6c79;
}
.footer-bottom{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: white;
}
