*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    width: 100%;
    max-width: 1600px;
}
/* Navbar  Section*/
header{
    width: 100%;
    max-width: 1600px;
    background-color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.logo a{
    cursor: pointer;
}
.menu ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.menu ul li a:hover{
    color: #FFFFFF;
    background-color: black;
}

.btn-header{
    background-color: #1fc464;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn-header:hover{
    background-color: #003617;
}